<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Organazation.CreateContactwithBaseclassTest"/>
      <class name="Practice.MultipleDataFromDAtaprovider"/>
      <class name="SeleniumFrameworkWithTestNg.CreateContactwithBaseclassTest"/>
      <class name="PracticeUsingPom.CreateOrganizationWithType"/>
      <class name="Practice.RetryImplyTest"/>
      <class name="SeleniumFrameworkWithTestNg.CreateContactWithOrganization"/>
      <class name="SeleniumFrameworkWithTestNg.CreateOrganizationWithTypeWithBaseclassTest"/>
      <class name="Practice.AssertionPractice"/>
      <class name="SeleniumFrameworkWithTestNg.CreateProductTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
